<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>740557954988-j8o5a3fr4evgkdkmjktgc7fk8ubpbehp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.740557954988-j8o5a3fr4evgkdkmjktgc7fk8ubpbehp</string>
	<key>API_KEY</key>
	<string>AIzaSyBwbjfWx4LftA8AtXZeMOc3hDoljRQJ55Q</string>
	<key>GCM_SENDER_ID</key>
	<string>740557954988</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>tinder-6786c</string>
	<key>STORAGE_BUCKET</key>
	<string>tinder-6786c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:740557954988:ios:674e72c41c22808dd86409</string>
</dict>
</plist>